<div>
    <h1>CHAT SOCKET.IO</h1>
    <div>
       <div><p id="messagesChat"></p></div>
    </div>
    <div>
        <input type="text" id="messagesBox">
        <button id="btnChat">Enviar</button>
    </div>

</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>