<h2>Inicio de sesión</h2>

<form id="logForms">

<label for="email"><p>Correo Electrónico:</p></label>
<input type="text" required name="email" id="email">

<label for="password"><p>Contraseña:</p></label>
<input type="text" required name="password" id="password">

<button type="submit">Crear Usuario</button>

<p>¿Aún no te has registrado? <a href="/signin">Registrarse</a></p>
<button id="btnlog"> Iniciar sesión con GitHub</button>
</form>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>