<h2>Página de Registro</h2>
<form id="userForms">
    <label for="name"><p>Nombre:</p></label>
    <input type="text" required name="name" id="name">

    <label for="surname"><p>Apellido:</p></label>
    <input type="text" required name="surname" id="surname">

    <label for="age"><p>Edad:</p></label>
    <input type="number" required name="age" id="age">

    <label for="email"><p>Correo Electrónico:</p></label>
    <input type="text" required name="email" id="email">

    <label for="password"><p>Contraseña:</p></label>
    <input type="password" required name="password" id="password">

    <button type="submit">Registrarse</button>
    <button id="btnsign"> Registrarse con GitHub</button>
</form>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>